@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-y: hidden;
}

body {
	@apply text-base;
	color: #fdfdfd;
	background-color: #0d0d0d;
	font-family: var(--font-DM_Sans), sans-serif;
	@media (max-width: 1200px) {
		font-size: 16px;
	}

	@media (max-width: 992px) {
		font-size: 14px;
	}
}

* {
	line-height: 120%;
	scrollbar-width: thin;
	scrollbar-color: #e2fb6c #121212;
	&::selection {
		@apply bg-[#E2FB6C] text-[#121212];
	}
	&:disabled {
		@apply opacity-50;
	}
}

main {
	overflow: hidden;
}
div:has(.grecaptcha-badge) {
	display: none;
}
