.sliderBox {
	@apply mx-3 w-full flex items-center;
	.slider {
		@apply w-full relative bg-transparent overflow-hidden text-accent rounded-full h-1;

		--thumb-height: 0.7em;
		--track-height: 0.125em;
		--track-color: #30302f;
		--brightness-down: 70%;
		--clip-edges: 0.125em;

		&:active {
			@apply cursor-grabbing;
		}

		&,
		&::-webkit-slider-runnable-track,
		&::-webkit-slider-thumb {
			@apply duration-100 h-[var(--thumb-height)];
			-webkit-appearance: none;
		}

		&::-webkit-slider-runnable-track,
		&::-webkit-slider-thumb {
			@apply relative;
		}

		&::-webkit-slider-thumb {
			--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
			--clip-top: calc(
				(var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px
			);
			--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
			--clip-further: calc(100% + 1px);
			--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
				100vmax currentColor;

			@apply w-[var(--thumb-width,_var(--thumb-height))] brightness-[100%];
			background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
				50% calc(var(--track-height) + 1px);
			background-color: currentColor;
			box-shadow: var(--box-fill);
			border-radius: var(--thumb-width, var(--thumb-height));

			clip-path: polygon(
				100% -1px,
				var(--clip-edges) -1px,
				0 var(--clip-top),
				-100vmax var(--clip-top),
				-100vmax var(--clip-bottom),
				0 var(--clip-bottom),
				var(--clip-edges) 100%,
				var(--clip-further) var(--clip-further)
			);
		}

		&:hover::-webkit-slider-thumb {
			@apply cursor-grab brightness-[var(--brightness-hover)];
		}

		&:active::-webkit-slider-thumb {
			@apply cursor-grabbing brightness-[var(--brightness-down)];
		}

		&::-webkit-slider-runnable-track {
			background: linear-gradient(var(--track-color) 0 0) scroll no-repeat
				center / 100% calc(var(--track-height) + 1px);
		}

		&,
		&::-moz-range-track,
		&::-moz-range-thumb {
			@apply appearance-none duration-100 h-[var(--thumb-height)];
		}

		&::-moz-range-track,
		&::-moz-range-thumb,
		&::-moz-range-progress {
			@apply bg-[#30302f];
		}

		&::-moz-range-thumb {
			@apply border-0 w-[var(--thumb-width,_var(--thumb-height))] rounded-[var(--thumb-width,_var(--thumb-height))] cursor-grab;
			background: currentColor;
		}

		&:active::-moz-range-thumb {
			@apply cursor-grabbing;
		}

		&::-moz-range-track {
			@apply w-full bg-[#var(--track-color)];
		}

		&::-moz-range-progress {
			@apply appearance-none delay-[30ms];
			background: currentColor;
		}

		&::-moz-range-track,
		&::-moz-range-progress {
			@apply h-[calc(var(--track-height)+1px)] rounded-[var(--track-height)];
		}

		&::-moz-range-thumb,
		&::-moz-range-progress {
			@apply brightness-[100%];
		}

		&:hover::-moz-range-thumb,
		&:hover::-moz-range-progress {
			@apply brightness-[var(--brightness-hover)];
		}

		&:active::-moz-range-thumb,
		&:active::-moz-range-progress {
			@apply brightness-[var(--brightness-down)];
		}
	}
}
