.item {
	@apply grid grid-cols-[70%_30%] bg-player p-5 rounded-xl h-28 items-center;
	user-select: none;
	width: clamp(400px, 45vw, 800px);
	.info {
		@apply grid grid-cols-[40px_auto] gap-5;
		> div {
			width: clamp(146px, 8.8vw, 600px);
			p {
				@apply truncate;
			}
		}
	}
	.statistics {
		@apply grid grid-rows-3 items-center justify-center;
		svg {
			@apply mx-auto;
		}
		p {
			@apply flex justify-center;
		}
		.value {
			@apply text-sm mt-1;
			&.positive {
				@apply text-[#1CDB2C];
			}
			&.negative {
				@apply text-[#C3191A];
			}
		}
		.period {
			@apply text-xs opacity-40;
		}

		.loader1,
		.loader2,
		.loader3 {
			@apply rounded-lg mx-auto;
		}
		.loader1 {
			@apply w-7 h-7;
		}
		.loader2 {
			@apply w-20 h-5;
		}
		.loader3 {
			@apply w-16 h-3;
		}
	}
}
