.auth {
	@apply h-screen w-screen grid lg:grid-cols-2 overflow-x-hidden bg-[#000];
	.stepContainer {
		@apply h-full w-full;
		background: #daaefe
			linear-gradient(135deg, #daaefe 0%, #9431f6 50%, #040443 100%);
		> div {
			@apply flex gap-4 items-center p-14;
			img {
				@apply pointer-events-none selection:bg-transparent;
			}
			span {
				@apply text-5xl font-bold selection:text-black;
			}
		}
		h2 {
			@apply max-w-[45vw] font-bold absolute bottom-0 pl-20 py-20 selection:text-black;
			letter-spacing: -2px;
			font-size: clamp(50px, 4.9vw, 71px);
		}
	}

	aside {
		@apply p-10 4xl:w-[55%] md:w-[75%] m-auto selection:text-black;
		> div > div {
			h1 {
				@apply text-4xl mb-3 text-center sm-max:text-3xl;
				letter-spacing: -2px;
			}
			> p {
				@apply text-center text-lg text-white-99 sm-max:text-base;
				letter-spacing: -0.8px;
			}
		}

		.variants {
			@apply grid grid-cols-1 gap-5 mt-16;
			a {
				@apply flex items-center justify-center gap-5 border px-7 py-6 rounded-xl border-[#313131] selection:bg-transparent selection:text-white;
				p {
					@apply text-sm;
				}
			}
		}
		.orSignInWith {
			@apply mt-7 text-center flex items-center gap-4;
			.line {
				@apply w-full h-px bg-[#282828];
			}
		}
		.form {
			@apply flex flex-col gap-7 mt-7;
			.name {
				@apply grid grid-cols-2 gap-7 xl-max:grid-cols-1;
			}
			.eyeIcon {
				@apply inline relative bottom-[46px] left-[calc(100%-45px)];
			}
			p {
				@apply relative bottom-4 text-sm text-[#979797];
			}
			label {
				@apply text-sm;
			}
			input {
				@apply relative bg-[#1a1a1a] text-[#a7a7a7] px-9 py-3 h-16 rounded-lg w-full mt-3 outline-none;
			}
			h5:empty {
				@apply hidden;
			}
			.submit {
				@apply bg-white text-black text-sm text-center py-3 h-16 rounded-lg selection:bg-transparent;
			}
			div:last-child {
				@apply w-full;
				div {
					@apply w-full;
				}
			}
			.strength {
				@apply relative -top-5;
				div {
					@apply h-1 rounded-full duration-150;
				}
			}
		}
		.forgotPassword {
			@apply block my-3 hover:underline;
		}
		> button b {
			@apply underline font-bold;
		}
	}
}
